# ===== n8n =====
TIMEZONE=Asia/Kolkata
N8N_EDITOR_BASE_URL=http://localhost:5678 # when deploy to production, change this to your domain name used in url redirect
N8N_ENCRYPTION_KEY=some_random_string_of_32_characters, generate using `openssl rand -hex 32` cmd

# ===== Postgres =====
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=job_tracker

# ===== Crawl4AI =====
CRAWL4AI_API_BASE_URL=http://crawl4ai:11235